# TestCompile.yml
# Github workflow script to test compile all examples of an Arduino library repository.
#
# Copyright (C) 2021  Armin Joachimsmeyer
# https://github.com/ArminJo/Github-Actions
#

# This is the name of the workflow, visible on GitHub UI.
name: TestCompile
on:
  workflow_dispatch: # To run it manually
    description: 'manual build check'
  push: # see: https://help.github.com/en/actions/reference/events-that-trigger-workflows#pull-request-event-pull_request
    paths:
      - '**.ino'
      - '**.cpp'
      - '**.hpp'
      - '**.h'
      - '**TestCompile.yml'

jobs:
  build:
    name: Test compiling examples for Nano
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The matrix will produce one job for each configuration parameter of type `build-properties`
        build-properties:
          - -DUSE_NO_LCD
          - -DUSE_SERIAL_1602_LCD # LiquidCrystal_I2C.hpp is part of example
          - -DUSE_PARALLEL_1602_LCD # default
          - -DBUTTON_IS_ACTIVE_HIGH
          - -DSUPPORT_BLUEDISPLAY_CHART
        include:
          - build-properties: -DUSE_NO_LCD
            required-libraries: LiquidCrystal # workaround, because Arduino cli wants this library in this case :-(

          - build-properties: -DUSE_PARALLEL_1602_LCD
            required-libraries: LiquidCrystal

          - build-properties: -DSUPPORT_BLUEDISPLAY_CHART
            required-libraries: LiquidCrystal # BlueDisplay

          - build-properties: -DBUTTON_IS_ACTIVE_HIGH
            required-libraries: LiquidCrystal

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Checkout new BlueDisplay
        uses: actions/checkout@master
        with:
          repository: ArminJo/Arduino-BlueDisplay
          ref: master
          path: CustomBlueDisplay # must contain string "Custom"
          # No need to put this custom library in the required-libraries list

      - name: Compile all examples
        uses: ArminJo/arduino-test-compile@master
        with:
          arduino-board-fqbn: arduino:avr:nano:cpu=atmega328
          required-libraries: '${{ matrix.required-libraries }}'
          build-properties: '{ "All": ${{ toJson(matrix.build-properties) }} }'
          debug-compile: true # To see the actual size, when compiled with Arduino
#          debug-install: true
